<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top 100 Movies</title>
  <link rel="stylesheet" href="styles/movies.css">
  <link rel="stylesheet" href="styles/horizontal_navbar.css">
  <link rel="stylesheet" href="styles/searchbar.css">
</head>
<body>
  <style>
    .grid-container{
        margin-bottom: 90px;
    }
  </style>
    <ul>
        <li><a class="active" href="http://localhost:3000/home">Home</a></li>
        <li><a href="http://localhost:3000/movies">Movies</a></li>
        <li><a href="http://localhost:3000/tvshows">TV Shows</a></li>
        <li><a href="news">News</a></li>
        <li><a href="#">About</a></li>
    </ul>

    <div class="search-container">
        <input type="text" class="search-input" placeholder="search anything" id="search-input">
        <button class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zm-5.241 1.347a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/>
            </svg>
        </button>
    </div>

    <div id="results-container">
    <% for (let i = 0; i < shows.length; i += 3) { %>
        <div class="grid-container">
            <% for (let j = i; j < i + 3 && j < shows.length; j++) { %>
                <div class="article movie-item" data-title="<%= shows[j].title %>">
                    <a href="<%= shows[j].imdb_link %>" target="_blank"> 
                    <img src="<%= shows[j].imageurl[0] %>" alt="<%- shows[j].title %>">
                    <div class="matter">
                        <p>
                            <% for (let z = 0; z < shows[j].genre.length; z++) { %>
                                <%- shows[j].genre[z] %><% if (z < shows[j].genre.length - 1) { %>, <% } %>
                            <% } %>
                        </p>
                    </div>
                    </a> 
                </div>
            <% } %>
        </div>
    <% } %>
    </div>
    <script src="scripts/search.js"></script>
</body>
</html>
